//==============================================================================
// Theme Information
//==============================================================================
$theme_name: "Your-Package-Name";
$theme_uri: "https://github.com/your/repo";
$theme_description: "Your theme description.";
$theme_version: "0.0.1";
$theme_author: "Firstname Lastname <your@email.com>";
$theme_author-uri: "https://www.yourWebsite.com/";
$theme_license: "GNU General Public License v2 or later";
$theme_license-uri: "http://www.gnu.org/licenses/gpl-2.0.html";
$theme_domain: "yourTextDomain";
$theme_domain-path: "/languages/";
$theme_tags: "editor-style, translation-ready";
